.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text{
	padding: 15px;
}

.title{
	width: 100%;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	font-size: 18px;
	font-size: 18px;
}

.link-list{
	width:100%;
	padding: 20px 15px;
}