/*reset*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

a{
	text-decoration: none;
	background: transparent;
	-webkit-tap-highlight-color: transparent;
}

ul{
	list-style: none outside none;
}

img{
	display: block;
}
/*reset end*/

:global .example-enter {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all .5s .1s;
  -webkit-transition: all .5s .1s;
}

:global .example-enter.example-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0 0, 0);
  transform: translate3d(0 0, 0);
}

:global .example-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all .5s;
  -webkit-transition: all .5s;
}

:global .example-leave.example-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
